:root {
	--purple: #9845e8;
	--blue: #33d2ff;
	--pink: #dd5789;
}

@font-face {
	font-family: 'Mona Sans';
	src: url('/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
		url('/fonts/Mona-Sans.woff2') format('woff2-variations');
	font-weight: 200 900;
	font-stretch: 75% 125%;
}


@keyframes background-pan {
	from {
		background-position: 0% center;
	}

	to {
		background-position: -200% center;
	}
}

@keyframes wave-animation {
	0% {
		transform: rotate(0deg);
	}
	10% {
		transform: rotate(14deg);
	} /* The following five values can be played with to make the waving more or less extreme */
	20% {
		transform: rotate(-8deg);
	}
	30% {
		transform: rotate(14deg);
	}
	40% {
		transform: rotate(-4deg);
	}
	50% {
		transform: rotate(10deg);
	}
	60% {
		transform: rotate(0deg);
	} /* Reset for the last half to pause */
	100% {
		transform: rotate(0deg);
	}
}

html {
	scroll-behavior: smooth;
}

body {
	background: #15181b !important;
	font-family: 'Mona Sans', sans-serif !important;
}

.hero > .h1 {
	color: white;
	font-size: 48px;
	font-weight: 700;
	text-align: left;
}

.hero > .h1 > .intro {
	font-size: 24px;
	line-height: 2;
	font-weight: 500;
}

.hero > .h1 > .intro:hover span {
	animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
	animation-duration: 2.5s; /* Change to speed up or slow down */
	animation-iteration-count: infinite; /* Never stop waving :) */
	transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
	display: inline-block;
	cursor: default;
}

.hero > .h1 > .magic {
	font-size: clamp(2em, 2vw, 4em);
	animation: background-pan 3s linear infinite;
	background-image: linear-gradient(to right, var(--purple), var(--blue), var(--pink), var(--purple));

	background-size: 200%;

	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h3 {
	color: white;
	font-size: 20px;
	font-weight: 300;

	padding-top: 20px;
	text-align: left;
	cursor: pointer;
	position: relative;
}

h3:hover span {
	animation: bounce-arrow 1s alternate infinite;
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.title {
	color: white;
	font-size: 30px;
	font-weight: 100;
	margin-top: 5em;
	padding-bottom: 2em;
	text-align: left;
}

.divider {
	margin: 5em 0;
	height: 1px;
	background: #c6c6c6;
}
